# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.egg-info
*.rej

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm, VSCode and other editors
.idea/
.vscode/

# Operating system related
.DS_Store
*.swp
*.swo
*.swn
*.log

# Virtual Environment
venv/
myenv/

# Database files (adjust as per your database, this is for SQLite)
*.sqlite